body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #40354e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Input Styling */

.input-group > .form-control:not(:last-child) {
  border-radius: 0.5rem;
  border-right: hidden;
}

.input-group-append > .input-group-text {
  border-radius: 0.5rem;
  background-color: inherit;
  background-color: #e8e8ec;
  border-left: hidden;
  border-color: #e8e8ec;
}

/* Header */
.search-bar {
  border-radius: 5rem;
}

.circle-button-sm {
  border-radius: 5rem !important;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem !important;
  color: #40354e !important;
  border: hidden !important;
}

.btn-outline-light {
  background-color: inherit !important;
  border-style: hidden !important;
}

.btn-outline-light:hover {
  background-color: inherit !important;
  border-style: hidden !important;
  background-color: #e8e8ec !important;
}

.bg-header-top {
  background-color: #e8e8ec !important;
  padding: 0vw 6vw 0vw 0vw !important;
}

.bg-header-bottom {
  background-color: white !important;
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: #40354e !important;
}

a:-webkit-any-link:hover {
  color: -webkit-link !important;
  cursor: pointer;
  text-decoration: underline;
}

.categories {
  display: flex;
  flex-direction: row;
  border-bottom: solid 2px #e8e8ec;
}

/* Shop Page Styles */

.category-buttons {
  justify-content: space-between;
  padding-right: 10rem;
}

.home-list {
  justify-content: space-between;
  padding-right: 10.5rem;
}

.btn-categories {
  background: #e8e8ec !important;
}

.btn-outline-secondary {
  background-color: white !important;
  border: solid 2px #e8e8ec !important;
  color: #40354e !important;
}

.btn-outline-secondary:hover {
  color: #40354e;
  background-color: #e8e8ec !important;
  border: solid 2px #e8e8ec !important;
}
