body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #40354e;
}

*:focus {
  outline: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Input Styling */

.input-group > .form-control:not(:last-child) {
  border-radius: 0.5rem;
  border-right: hidden;
}

.input-group-append > .input-group-text {
  border-radius: 0.5rem;
  background-color: inherit;
  background-color: #e8e8ec;
  border-left: hidden;
  border-color: #e8e8ec;
}

/* Header */

.header-col {
  padding: 0rem 0rem 0rem 0rem !important;
}

.search-bar {
  border-radius: 0.5rem !important;
  background-color: #e8e8ec;
  border: 1px solid #e8e8ec;
  margin: 0rem 3rem 0rem 3rem;
}

.circle-button-sm {
  border-radius: 5rem !important;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem !important;
  color: #40354e !important;
  border: hidden !important;
}

/* remove this */
.btn-outline-light {
  background-color: inherit !important;
  border-style: hidden !important;
}

.btn-outline-light:hover {
  background-color: inherit !important;
  border-style: hidden !important;
  background-color: #e8e8ec !important;
}
/*  */

.MuiButton-outlined {
  background-color: inherit !important;
  border-style: hidden !important;
}

.MuiButton-outlined:focus {
  outline-style: none;
}

.MuiButton-outlined:hover {
  background-color: inherit !important;
  border-style: hidden !important;
  background-color: #e8e8ec !important;
}

.bg-header-top {
  background-color: #e8e8ec !important;
  padding: 0vw 8vw 0vw 0vw !important;
}

.bg-header-bottom {
  background-color: white !important;
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: #40354e !important;
}

a:-webkit-any-link:hover {
  color: -webkit-link !important;
  cursor: pointer;
  text-decoration: underline;
}

.categories {
  display: flex;
  flex-direction: row;
  border-bottom: solid 2px #e8e8ec;
}

/* .dropdown .dropdown-menu {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown.show .dropdown-menu {
  max-height: 100vh;
  opacity: 1;
} */

/* Shop Page Styles */

.category-buttons {
  justify-content: space-evenly;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  background-color: white;
}

div.scrollmenu:active {
  background-color: white;
}

div.scrollmenu:hover {
  background-color: white;
}

.home-list {
  justify-content: center !important;
}

.btn-categories {
  background: #e8e8ec !important;
}

.btn-outline-secondary {
  background-color: white !important;
  border: solid 2px #e8e8ec !important;
  color: #40354e !important;
}

.btn-outline-secondary:hover {
  color: #40354e;
  background-color: #e8e8ec !important;
  border: solid 2px #e8e8ec !important;
}

/* Item Card Styles */

.circle-button-xsm {
  border-radius: 5rem !important;
  padding: 0.25rem 0.5rem 0.25rem 0.35rem !important;
  background-color: white !important;
  color: #40354e !important;
  border: hidden !important;
}

.circle-button-xsm:hover {
  border-radius: 5rem !important;
  padding: 0.25rem 0.5rem 0.25rem 0.35rem !important;
  color: #40354e !important;
  background-color: #e8e8ec !important;
}

.fav-button-xsm {
  border-radius: 5rem !important;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem !important;
  color: #40354e !important;
  border: hidden !important;
  background-color: white !important;
}

.fav-button-xsm:hover {
  border-radius: 5rem !important;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem !important;
  color: #40354e !important;
  border: hidden !important;
}

.image {
  position: relative;
  overflow: hidden;
  padding-bottom: 80%;
}
.image img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 42%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.img-wrapper {
  display: inline-block;
  overflow: hidden;

  border: 1px solid gray;
}

.img-wrapper img {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.img-wrapper img:hover {
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -ms-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  transform: scale(2.2);
  transition-delay: 0.3s;
}

.stage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.favorite-item {
  position: absolute;
  top: 0px;
  right: 0px;
}

/* Item Description */

/* .bottom-right {
  position: absolute !important;
  bottom: 0.5rem;
  right: 0.5rem;
}

.bottom-left {
  position: absolute;
  bottom: 1;
  left: 1;
} */

.name-field {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0rem 0rem 1rem 0rem !important;
}

.name-row {
  padding: 0rem 0rem 2rem 0rem;
}

.card-body {
  padding: 0rem 0rem 0rem 0rem;
}

/* Detail Page */
.img-detail-lg {
  width: 100%;
  justify-content: center;
  border-radius: 0.5rem;
}

.detail-container {
  background: black !important;
}

.fixed {
  position: fixed !important;
  top: -1rem !important;
  right: 0.5rem !important;
  width: 100%;

  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
}

/* Add To Cart Modal */

.MuiButton-containedPrimary {
  border-style: hidden !important;
}

.color-picker {
  border: 0;
  display: flex;
  text-align: left !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25) !important;
  background-color: #e8e8ec !important;
  border-color: #e8e8ec !important;
  border-radius: 1000px;
  padding: 0.5rem 1rem 0.5rem 1rem !important;
  z-index: 1;
  border-radius: 5rem !important;
  height: 2.5rem;
  width: 9rem;
  cursor: pointer;
}

.color-circle {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  position: relative !important;
  top: -3px;
  left: -10px;
}

.color-text {
  font-size: 14px;
  position: relative !important;
  top: -29px;
  left: 25px;
  color: #40354e;
  text-align: right !important;
}

.MuiPopover-paper {
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 1rem !important;
  max-width: 25rem !important;
}
