body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #40354e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Input Styling */

.input-group > .form-control:not(:last-child) {
  border-radius: 0.5rem;
  border-right: hidden;
}

.input-group-append > .input-group-text {
  border-radius: 0.5rem;
  background-color: inherit;
  background-color: #e8e8ec;
  border-left: hidden;
  border-color: #e8e8ec;
}

/* Header */

.header-col {
  padding: 0rem 0rem 0rem 0rem !important;
}

.search-bar {
  border-radius: 5rem;
}

.circle-button-sm {
  border-radius: 5rem !important;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem !important;
  color: #40354e !important;
  border: hidden !important;
}

.btn-outline-light {
  background-color: inherit !important;
  border-style: hidden !important;
}

.btn-outline-light:hover {
  background-color: inherit !important;
  border-style: hidden !important;
  background-color: #e8e8ec !important;
}

.bg-header-top {
  background-color: #e8e8ec !important;
  padding: 0vw 8vw 0vw 0vw !important;
}

.bg-header-bottom {
  background-color: white !important;
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: #40354e !important;
}

a:-webkit-any-link:hover {
  color: -webkit-link !important;
  cursor: pointer;
  text-decoration: underline;
}

.categories {
  display: flex;
  flex-direction: row;
  border-bottom: solid 2px #e8e8ec;
}

/* .dropdown .dropdown-menu {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown.show .dropdown-menu {
  max-height: 100vh;
  opacity: 1;
} */

/* Shop Page Styles */

.category-buttons {
  justify-content: space-evenly;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  background-color: white;
}

div.scrollmenu:active {
  background-color: white;
}

div.scrollmenu:hover {
  background-color: white;
}

.home-list {
  justify-content: center !important;
}

.btn-categories {
  background: #e8e8ec !important;
}

.btn-outline-secondary {
  background-color: white !important;
  border: solid 2px #e8e8ec !important;
  color: #40354e !important;
}

.btn-outline-secondary:hover {
  color: #40354e;
  background-color: #e8e8ec !important;
  border: solid 2px #e8e8ec !important;
}

/* Item Card Styles */

.circle-button-xsm {
  border-radius: 5rem !important;
  padding: 0.25rem 0.5rem 0.25rem 0.35rem !important;
  color: #40354e !important;
  border: solid 2px #e8e8ec !important;
}

.circle-button-xsm:hover {
  border-radius: 5rem !important;
  padding: 0.25rem 0.5rem 0.25rem 0.35rem !important;
  color: #40354e !important;
  border: solid 2px #e8e8ec !important;
}

.fav-button-xsm {
  border-radius: 5rem !important;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem !important;
  color: #40354e !important;
  border: hidden !important;
  background-color: white !important;
}

.fav-button-xsm:hover {
  border-radius: 5rem !important;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem !important;
  color: #40354e !important;
  border: hidden !important;
}

.image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
.image img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.img-wrapper {
  display: inline-block;
  overflow: hidden;

  border: 1px solid gray;
}

.img-wrapper img {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.img-wrapper img:hover {
  -webkit-transform: scale(1.9);
  -moz-transform: scale(1.9);
  -ms-transform: scale(1.9);
  -o-transform: scale(1.9);
  transform: scale(1.9);
  transform-origin: right bottom;
  transform: scale(1.9);
  transition-delay: 0.3s;
}

/* Like Heart */

.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
    no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

.stage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.favorite-item {
  position: absolute;
  top: 0px;
  right: 0px;
}
